<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/produk">Produk</a>
    <a href="/kontak">Kontak</a>
</nav>

<h2>Tentang Kami</h2>
<p>Nama Usaha: Jadul Tinta Imajinasi</p>
<p>Latar belakang: Produk seni mewarnai digital.</p>
<p>Visi: Menjadi produk kreatif terbaik.</p>
<p>Misi: Memberikan karya unik.</p>

</body>
</html>
